# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pilot_bc.egg-info
pilot_dataset
pilot_train/dataset/*
pilot_deploy/checkpoints/
*.egg-info/
venv
.vscode/*
*/.vscode/*
.idea/
*/wandb
wandb
wandb/
*/logs
logs

*.png
*.jpg
*.pth
*.mp4
# *.gif
*.pth
*.lmdb
*.mdb