# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pilot_train.egg-info
pilot_bc.egg-info
venv
.vscode/*
*/.vscode/*

pilot_dataset
*/wandb
wandb
wandb/
*/logs
logs

*.png
*.jpg
*.pth
*.mp4
*.gif
*.pth
*.lmdb
*.mdb